:root{
    --main-color: rgb(255,207,65);
    --text-color: #676767;
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}
img{
    max-width: 100%;
}

.container{

}
.title{
    background-color: var(--main-color);
    color: var(--text-color);
    height: 100px;
    width: 500px;
    border-radius: 10px;
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
}
    .title > h1{
        text-align: center;
    }

.img-container{
    height: 300px;
    width: 500px;
    display: flex;
}
    .img-container img{
        height: 100%;
        width: 100%;
    }

.form-container{
    background-color: var(--main-color);
    color: var(--text-color);
    height: 200px;
    width: 500px;
    border-radius: 10px;
    /*border-bottom-left-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
}
    form{
        height: 50px;
        width: 300px;
    }
        form > input, form > button{
            background-color: white;
            color: var(--text-color);
            border: none;
            border-radius: 40px;
            width: 100%;
        }
        .form-input{
            padding: 10px;
            margin-top: 15px;
        }
        .btn{
            font-size: 15px;
            text-transform: uppercase;
            font-weight: bold;
            padding: 10px 20px;
            margin: 15px 0;
        }

.day-picker-container{
    display: flex;
}